
*
{
    margin: 0;
    padding: 0;
}

.container{

    width: 100%;
    height:100vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}



/* .india{
    align-items: center;
    width: 100px;
} */

.logo{

    width: 70px;
    cursor: pointer;
}
.navbar{
    text-align: center;
    flex: 1;
    margin-top: 20px;
}

.navbar a{
    padding: 6px 20px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.content{
    text-align: center;
    margin-top: 7%;
}


.name
{
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: black;
    outline: none;
    text-align: center;
}
  
.name:hover 
{
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
}



.button img{
    height: 100px;
    margin-left: 570px;
    margin-top: 30px;
}

.button img:hover{
    height: 120px;
    width: auto;
    
}
.matter{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    outline: none;
    background-color: cornsilk;

}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

section .parallax{
    text-align: center;
}

section .parallax h2
{
    font-size: 19vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;

}
section:nth-child(1) .parallax h2
{
    background-image: url(forest.jpg);
    
}

section:nth-child(2) .parallax h2
{
    background-image: url(maxresdefault.jpg);
}

section:nth-child(3) .parallax h2
{
    background-image: url(3677391728_be926f6e5d_b.jpg);
}

section .parallax p
{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;

}

.parallax a img{
    margin-top: 200px;
    height: 100px;
}

.parallax img :hover{
    height: 150px;
    width: auto;
}